.contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  padding-top: 70px;

  .fab,
  .far {
    border-radius: 50%;
    padding: 7px;
    background: white;
  }

  .fa-linkedin {
    color: #0076b4;
  }

  .fa-github {
    color: #1b1f23;
  }

  .fa-envelope {
    background: white;
    color: #cf493c;
  }

  a {
    margin-bottom: 20px;
    text-align: left;
    span {
      font-size: 2rem;
    }

    &:hover span {
      @include easeOut;
      color: $secondary-color;
      animation-name: scaleUpAndDown;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      font-size: 2.5rem;
    }
  }
}

@import "contact-mobile";
