@import "config";
@import "./shared/animations";
@import "./shared/menu-desktop";
@import "./shared/menu-mobile";

@import "./index/index";
@import "./about/about";
@import "./projects/projects";
@import "./contact/contact";

@import "./components/carousel/carousel";
@import "./components/modal/modal";

* {
  box-sizing: border-box;
}

main {
  display: none;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;

  & textarea::-webkit-input-placeholder {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  & textarea::-ms-input-placeholder {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  & textarea::-moz-placeholder {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
    text-align: center;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
    text-align: center;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

nav {
  ul {
    li {
      cursor: pointer;
      &.active,
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
      a {
        &.active,
        &:hover {
          color: $secondary-color;
          @include easeOut();
        }
      }
    }
  }
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.categories {
  text-align: center;
  margin-bottom: 1.5rem;

  .category,
  .category-link {
    display: inline-block;
    margin-right: 1.5rem;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .category:hover,
  .category-link:hover {
    @include easeOut;
    color: $secondary-color;

    & a {
      @include easeOut;
      color: $secondary-color;
    }
  }

  .category.active {
    color: $secondary-color;
    border-bottom: 3px solid $secondary-color;
  }
}

.text-center {
  text-align: center;
}

.centered-unordered-list {
  margin-top: 0;
  text-align: center;
  list-style-type: none;
}

.console-user {
  color: #15ad3e;
}

.console-directory {
  color: #2a72bf;
}

.m-h-md {
  margin: 0 10px;
}

.reset-speech-with-more-text {
  top: 82%;
  left: 75%;
}

.reset-speech-no-more-text {
  top: 82%;
  left: 90%;
}

.loader {
  filter: invert(80%) sepia(84%) saturate(564%) hue-rotate(343deg)
    brightness(97%) contrast(93%);
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@import "./shared/mobile";
