.menu-mobile-btn {
  position: absolute;
  margin-top: 30px;
  left: calc(95% - 30px);
  cursor: pointer;

  @media (min-width: 633px) {
    display: none;
  }

  @media (max-width: 633px) {
    display: block;
  }
}
