@media (max-width: 633px) {
  .menu {
    li {
      font-size: 1.15rem;
      text-align: center;
      width: 20%;
      min-width: 20%;
      a {
        span {
          display: none;
        }
      }
    }

    li.languages {
      span,
      #languages-dropdown-icon {
        display: none;
      }
    }
  }

  .container-lang {
    margin-right: 5px;

    .languages-dropdown {
      & p {
        width: 100%;
      }
    }
  }
}
