.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0 0;
}

.modal-content {
  background-color: #fefefe;
  margin: 1% auto;
  margin-top: 30px;
  padding: 30px;
  border: 1px solid #888;
  width: 70%;
  color: #000;
  text-align: center;

  .modal-title {
    grid-area: title;
    margin-bottom: 1.2rem;
    display: inline-block;
    text-align: center;
    padding: 0px 10px;
  }

  .close {
    position: absolute;
    left: 80%;
    top: 4%;
    margin-top: 30px;
    margin-left: 15px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    padding-right: 15px;
  }

  .close:hover,
  .close:focus {
    color: $secondary-color;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-description {
    margin-bottom: 1.2rem;
  }

  #modal-summary {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.1rem;
  }

  @mixin modalBtn {
    min-width: 12rem;
    height: 50px;
    font-weight: 700;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-right: 5px;
  }

  .modal-see-project {
    @include modalBtn;
    background: rgb(237, 81, 19);
  }

  #modal-btn {
    @include modalBtn;
    background: rgb(20, 158, 222);
  }

  .modal-technologies-title {
    margin-bottom: -1px;
  }

  .modal-technologies {
    margin: 0 auto;
    width: 70%;
    margin-bottom: 5px;
  }
}

@import "./modal-mobile";
