@media (max-width: 1000px) {
  .modal {
    .modal-content {
      width: 90%;

      button {
        margin-bottom: 10px;
      }

      .modal-header {
        .modal-title,
        .modal-icon {
          font-size: 1.3rem;
        }
      }

      .modal-description {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 400px) {
  .modal {
    .modal-content {
      .modal-header {
        .modal-icon {
          display: none;
        }
      }

      #modal-summary {
        max-width: 100%;
      }

      .carousel {
        height: 150px;
        padding: 0;
      }
    }
  }
}
